#contain{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content{
  position: absolute;
  top: 0;
  right: 200px;
  bottom: 0;
  left: 0;
}
#content div{
  color:#fff;
}
#content_show{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 140px;
  right: 0;
}
#content_saying{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 140px;
  right: 0;
}
#users_online{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
}
#toolbar{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: #aaa;
  background: rgba(0,0,0,0.2);
}
#usersbar{
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow:-2px 2px 5px #292929;
  -moz-box-shadow:-2px 2px 5px #292929;
  box-shadow:-2px 2px 5px #292929;
}
#user_label{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height:30px;
  border-top-left-radius: 5px;
  background: #aaa;
  background: rgba(0,0,0,0.4);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #eee;

  background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
#users_list{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
  padding: 10px 0 10px 10px;
}
#users_list ul{
  width:100%;
  height:100%;
  list-style: none;
  overflow-x:hidden;
  /*overflow-y:scroll;*/
  overflow-y:auto;
}
#users_list ul li{
  width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  cursor: pointer;
  border-bottom: 1px dashed #666;
}
#users_list ul li:hover{
  background: #eee;
  background:  rgba(0,0,0,0.2);
  border-radius: 5px;
}
.sayingto{
  background: #ddd;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  color: #39F;
}
#contents{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #eee;
  /*background: rgba(0,0,0,0.1);*/
  background: url(../images/222.jpg);
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}
 #contents {
    overflow:auto;
}
/*#scroll-1 div {
    width:400px;
    height:400px;
}    */
.scroll-1::-webkit-scrollbar {
    width:10px;
    height:10px;
}
.scroll-1::-webkit-scrollbar-button    {
    background-color:#515151;
}
.scroll-1::-webkit-scrollbar-track     {
    background:#252526;
}
.scroll-1::-webkit-scrollbar-track-piece {
    /*background:url(http://www.lyblog.net/wp/wp-content/themes/mine/img/stripes_tiny_08.png);*/
}
.scroll-1::-webkit-scrollbar-thumb{
    background:#515151;
    border-radius:4px;
}
.scroll-1::-webkit-scrollbar-corner {
    background:orange;
}
.scroll-1::-webkit-scrollbar-resizer  {
    background:#FF0BEE;
}
#contents div{
  color:#fff;
}
#input_content{
  position: absolute;
  top: 35px;
  left: 5px;
  right: 105px;
  bottom: 30px;
  border-top-left-radius: 5px;
  outline: none;
  padding: 10px;
  overflow:auto;
  background: #eee;
  color:#333 !important;
  /*background: rgba(0,0,0,0.1);*/
}
#sayingto{
  background: #999;
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 5px;
  /*right: 105px;*/
  right: 5px;
  bottom: 5px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-bottom-left-radius: 5px;
}
#from
{
  color:#F90;
  font-weight:bold;
}
#to{
  color:#39F;
  font-weight:bold
}
#say{
  position: absolute;
  top: 35px;
  right: 5px;
  bottom: 5px;
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  text-align: center;
  
  font-size: 24px;
  font-weight: bolder;
  font-family: "幼圆","微软雅黑","黑体","宋体";
  /*color: #eee;*/
  color:#fff;
  background: #666;
  background: rgba(0,0,0,0.5);

  line-height: 74px;
  height: 74px;

  background-color: #5bc0de;
  border-color: #46b8da;
}